<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #top {background-color:blue;}
        body {background-color:#faff7a;}
        #conversation_link {position:relative;left:120px;top:-47px;color:yellow;}
        #login_link {position:relative;left:165px;top:-47px;color:yellow;}
        #signup_link {position:relative;left:200px;top:-47px;color:yellow;}

    </style>

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 id="top">Home</h1>
    <a id="conversation_link" href="{{ url_for('conversation') }}">Conversation</a>



</body>
</html>